ul {
	list-style: none;
}

body {
	min-height: 100%;
}

.main {
	margin: 10px auto;
}

.column-headers,
.columns,
.column-footers {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	display: flex;
}

.column-headers .header,
.columns .column,
.column-footers .footer {
	margin: 0 5px;
	float: left;
	flex: 1;
}

.column-headers .header {
	margin-top: 10px;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	border: 1px solid #bbbbbb;
	border-bottom: 0;
}

.columns .column {
	padding: 5px 0;
	border: 0 solid #bbbbbb;
	border-width: 0 1px;
	min-height: 100%;
}

.column-footers .footer {
	margin-bottom: 10px;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	border: 1px solid #bbbbbb;
	border-top: 0;
}

.column:nth-child(1) .task {
	border-left-color: #8C91FF;
}

.column:nth-child(2) .task {
	border-left-color: #D378ED;
}

.column:nth-child(3) .task {
	border-left-color: #FF8EA1;
}

.column:nth-child(4) .task {
	border-left-color: #FFBA77;
}

.column:nth-child(5) .task {
	border-left-color: #FFE88E;
}

.departament {
	border: 0 !important;
}

.column.departament {
	text-align: right;
	font-size: 1.3em;
	margin: auto 5px;
}

.tasks {
	padding: 0;
}

.task {
	border: 1px solid #bbb;
	border-left: 5px solid;
	margin-bottom: 5px;
	margin: 5px;
}

.task:first-child {
	margin-top: 0;
}

.task:last-child {
	margin-bottom: 0;
}

.subtask {
	margin-left: 15px;
}

.task {
	transition: box-shadow 0.5s;
}

.task h3 {
	border-bottom: 1px dashed #bbb;
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	padding: 0.4em;
  	margin: 0;
  	font-size: 1.25em;
}

.task.active {
	box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
}

.task .dep {
	font-size: 0.8em;
	padding: 0.4em;
	background: #bbb;
	font-style: italic;
	border-bottom: 1px dashed #fff;
}

.task .desc {
	padding: 0.4em;
	max-height: 7em;
	overflow: hidden;
	font-size: 0.8em;
}

.row-spacer {
	border-top: 1px dashed #bbb;
	float: left;
	width: 100%;
}